img {
  padding: 2%;
  border-radius: 50%;
}

body{
  width: 75%;
  border: 25px solid green;
  padding: 25px;
 

  /** center stuff on screen: control width */
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


p {
  padding: 1%;
	margin-left: 25%;
	margin-right: 25%;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
	margin-left: 26%;
	margin-right: 20%;
  font-weight: bold;
  color: black;
}

h3 {
  color: black;
}

ul {
  padding: 6px 8px 6px 16px;
  text-decoration: ;
  font-size: 25px;
  color: #818181; 
}


.topSection {
  background-image: url('../images/image4.jpg');
  background-size: cover;

}

.contactInfo {
  line-height: 0.001;
  padding: 0.1%;
  font-size: 125%;
  padding-top: 5%;
}

.sidenav {
}

.mainContent{
  border: 20px solid navy;
}

.mainText {
  color: grey;
}

.aboutMeImage {
  float: right;
}


.myProfessionalHistoryImage {
  float: left;
}

.skillsKnoowledgeImage {
  float: right;
}

.keyInfo {
  font-weight: bold;
  text-indent: 5%;
}
